{% extends 'tela_home.html' %}

{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tela_dashboard.css') }}">
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<section class="dashboard-grid">

    <div class="card-info">
        <div class="card-icone">
            <i class="bi bi-box-seam"></i>
        </div>

        <div class="card-dados">
            <span class="card-titulo">Total de Produtos</span>
            <h2>{{ total_produtos }}</h2>
        </div>
    </div>

    <div class="grafico-card">
        <h3>Produtos em Estoque</h3>

        <div class="grafico-pizza"
             style="--percentual: {{ percentual_baixo }}%;">
        </div>

        <div class="legenda">
            <div>
                <span class="cor vermelho"></span>
                Estoque Baixo ({{ estoque_baixo }})
            </div>

            <div>
                <span class="cor verde"></span>
                Estoque Normal ({{ estoque_normal }})
            </div>
        </div>
    </div>

</section>

<section class="dashboard-bottom">

    <div class="status-resumo-card">

        <h3>Status dos Pedidos</h3>

        <div class="status-item">
            <div class="status-info">
                <span>🟢 Processados</span>
                <span>{{ percentual_processado }}%</span>
            </div>

            <div class="barra">
                <div class="barra-processado"
                     style="width: {{ percentual_processado }}%;">
                </div>
            </div>
        </div>

        <div class="status-item">
            <div class="status-info">
                <span>🟡 Pendentes</span>
                <span>{{ percentual_pendente }}%</span>
            </div>

            <div class="barra">
                <div class="barra-pendente"
                     style="width: {{ percentual_pendente }}%;">
                </div>
            </div>
        </div>

        <div class="status-item">
            <div class="status-info">
                <span>🔴 Cancelados</span>
                <span>{{ percentual_cancelado }}%</span>
            </div>

            <div class="barra">
                <div class="barra-cancelado"
                     style="width: {{ percentual_cancelado }}%;">
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}